  <h1 align="center"> Registration_Form</h1>
  
 <center> first_name: <%= text_field :email, placeholder: 'Enter email' %></br>

  last_name:<%= text_field :password, placeholder: 'Password'  %></br>

 cse: <%= check_box_tag 'rock' , 'rock music' %></br>
 eee: <%= check_box_tag 'rock' , 'rock music' %></br>
  ece:<%= check_box_tag 'rock' , 'rock music' %>
  
</center>





    