<h1 align="center">Welcome_To_Store</h1>
<hr>
<%= session[:username]%>
<p><%= link_to "theaters","theater" %></p>
<p><%= link_to "Movies","movie" %></p>
<p><%= link_to "Movie_theater_store","movie_theaters" %>
</p>
<p> <%= link_to "theater","theater_store" %>
</p>

