<h1> login_form</h1>
<%= form_for (@custmer,url:{action=>"check"}) do |f| %>
<%= f.label :Email %>
<%= f.email_feild :email %>
<p>
<%= f.label :password %>
<%= f.password_field :password %>
</p>
<%= f.submit "Sumbmit" %>
<% end %>