
<div class="container">
   <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
       <%= button_tag(:type => 'button') do %>

        <%= link_to "About", '#'%>
        <% end %>
        <nav>
          <ul class="nav navbar-nav navbar-right" class= "list-inline"class= "bg-primary" >
            <li><%= link_to "index" %></li>
            <li><%= link_to "admin_login",   '#' %></li>
            <li><%= link_to "custmer_Log in", '#' %></li>
          </ul>
        </nav>

      </div>
    </header>
  
</div>

</body>
</html>
